.filed_select{
  color: black;
  height: 43px !important;
  width: 100% !important;
  border: 1px solid #dee2e6;
  background-color:white;
}
.filed_select:focus{
  border: 1px solid #5e72e4;
}
.lable{
  font-weight: bold;
}
